<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="css/jquery-ui.min.css" rel="stylesheet"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/font-awesome.min.css" rel="stylesheet"/>
        <link href="css/animate.min.css" rel="stylesheet"/>
        <link href="css/style.min.css" rel="stylesheet"/>
        <link href="css/style-responsive.min.css" rel="stylesheet"/>
        <link href="css/style.css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}

    <script src="js/jquery.js"></script>
    <script src="js/fontawesome.js"></script>
    <script src="js/showHide.js"></script>
    <script src="js/interface.js"></script>
    <script src="js/ajaxRequest.js"></script>
    <script src="js/index.js"></script>
    <script src="js/persee.js"></script>


{% endblock %}
</body>
</html>